In [12]:
# Pandas 
## Learning 2nd

In [13]:
import pandas as pd

In [14]:
## Now we ceate a dataframe 

data = [
    ["Clark", 30, "Kryptonite"],
    ["Bruce", 33, "Alpha ray"],
    ["Peter", 23, "Frequency"]
]


columns = ["Name","Age","Weakness"]

df = pd.DataFrame(data, columns=columns)

df

    Name  Age    Weakness
0  Clark   30  Kryptonite
1  Bruce   33   Alpha ray
2  Peter   23   Frequency

In [15]:
df.head()

df.index

df["Name"]

0    Clark
1    Bruce
2    Peter
Name: Name, dtype: object

In [16]:
df["Age"]

0    30
1    33
2    23
Name: Age, dtype: int64

In [17]:
df["Weakness"]

0    Kryptonite
1     Alpha ray
2     Frequency
Name: Weakness, dtype: object

In [18]:
df.iloc[1]   ##checks by position

Name            Bruce
Age                33
Weakness    Alpha ray
Name: 1, dtype: object

In [19]:
## Now creating Dataframe using a different object type

data_dict = {
    "Name": ["Clark","Bruce","Peter"],
    "Age": [20, 22, 81],
    "Work": ["Kryptonite", "Alpha Ray", "Frequency"]
}

df_alt = pd.DataFrame(data_dict)

df_alt

    Name  Age        Work
0  Clark   20  Kryptonite
1  Bruce   22   Alpha Ray
2  Peter   81   Frequency

In [20]:
df.to_csv("People_Weakness_And_Job.csv", index=False)

# Questions

## 1. What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?

## Ans: The write/render/evaluate  helps to quickly Visualize results and it also helps to refine their work through different iterations it helps users identyfy errors and or improvements early which ultimately leads to better visualizations.

## 2. Why are dynamic, interactive data visualizations useful when communicating data?

## Ans: User Engagement - dynamic, interactive data visualization lets a user explore data on their own, uncover patterns while helping the user to focus on the most relevant information so it makes complex dataset easier to understand increasing  user engagement compared to static charts.

## 3. Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? Why or why not?

## Ans: I agree with Murray because i believe that technology and information should be available for any and all to use. Only when software is made accessible, widely compatible and flexible will the audience increase. Open source tools reduce barriers to entry for people who are curious and want to learn or try out new tools or software and the flexiblity helps transition its knowledge to proprietary software too.